<%- include("partials/_header") %>        
        
<%- include("partials/_menu") %>

 <!-- Portfolio Modals    FOTOLARIN TEKİL SAYFALARI  -->
        <!-- Portfolio Modal 1-->
  
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="<%= photo.img%>" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"><%= photo.name %></h2>

                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>

                                    <p class="mb-4"><%= photo.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        <%- include("partials/_footer") %>       